@media (max-width: 740px) {
    #content .content-wrap-img {
        --spaccing: 20px;
        --column: 1;
    }

    
    #right-conner{
        display: block;
        float: left;
        width: 100%;
    }
    #right-conner li {
        display: block;
        float: left;
        width: 100%;
    }
    #nav li{
        box-shadow: rgba(100, 100, 111, 0.1) 0px 2px 10px 0px;
    }
   
    #mobile-menu {
        display: block;
        float: right;
        font-size: 25px;
        padding: 11px;
        border-radius: 5px;
    }
    #mobile-menu:hover{
        background-color: black;
        color: white;
        transition: 0.3s;
    }
    #slider{
        position: relative;
    }
    #slider .slider-title{
        font-size: 15px;
        margin-bottom: 21%;
    }
    .content-description {
        margin-bottom: 15px;
    }
}
@media (min-width:740px) and (max-width: 1024px) {
    #nav ion-icon{
        display: none;
    }
}

@media (min-width: 1024px) {
    #nav ion-icon{
        display: none;
    }
}